/** @format */

/* * ## Colors
* 
* ### Primary
* 
* #### Text
* 
* - Very dark desaturated blue: hsl(238, 29%, 16%)
* - Soft red: hsl(14, 88%, 65%)
* 
* #### Gradient
* 
* Background gradient:
* 
* - Soft violet: hsl(273, 75%, 66%)
* - Soft blue: hsl(240, 73%, 65%)
* 
* ### Neutral
* 
* #### Text
* 
* - Very dark grayish blue: hsl(237, 12%, 33%)
* - Dark grayish blue: hsl(240, 6%, 50%)
* 
* #### Dividers
* 
* - Light grayish blue: hsl(240, 5%, 91%) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(273, 75%, 66%);
}

main {
  width: 90%;
  max-width: 500px;
  padding: 60px 20px;
  border-radius: 16px;
  margin: 90px auto;
  background-color: white;
  text-align: center;
}

.woman-desktop {
  display: none;
}

.woman-mobile {
  width: 50%;
}
.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 0.5rem;
}
.accordion {
  text-align: left;
  border-bottom: 1px solid rgb(235, 232, 232);
  padding: 14px 0;
}

.inner-accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-accordion p.active {
  font-weight: bolder;
}

.accordion-detail {
  display: none;
}
